:host {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
