<header class="container is-fluid py-3">
  <div class="logo">
    <img src="assets/gym-logo.png" alt="Studio GYM" />
    <span class="is-size-4">Studio Gym | Paths</span>
  </div>

  @if (isLogged | async) {
    <nav class="is-flex is-gap-1 is-align-items-center">
      <button mat-flat-button class="nav-button" routerLink="/dashboard" routerLinkActive="active">Dashboard</button>
      <button mat-flat-button class="nav-button" routerLink="/paths" routerLinkActive="active">Paths</button>
      <button mat-icon-button class="nav-button user-icon" aria-label="User button" [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
    </nav>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>face</mat-icon>
        <span>{{ (authUser | async)?.username }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  }
</header>
